block variables
doctype html 
html(lang=`en` class=`${isDesktop ? 'desktop' : isTablet ? 'tablet' : 'phone'}`)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		base(href="/en")
		
		title ACTTA Studio

		meta(name='description' content='ACTTA Studio Template')

		link(rel="alternate" hreflang="en-ca" href="http://lumos.actta.studio/en")
		link(rel="alternate" hreflang="fr-ca" href="http://lumos.actta.studio/fr")

		
		link(rel="mask-icon" href="./safari-pinned-tab.svg" color="#ECEAE4")
		meta(name="theme-color" content="#363636")

		link(rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png")
		link(rel="icon" type="image/png" sizes="192x192" href="/meta/android-chrome-192x192.png")
		link(rel="icon" type="image/png" sizes="512x512" href="/meta/android-chrome-512x512.png")
		link(rel="icon" type="image/x-icon" href="/meta/favicon.ico")
		link(rel="manifest" href="/meta/site.webmanifest")

		link(rel="stylesheet" href="main.css")


		meta(property="og:type" content="website")
		meta(property="og:title" content=meta.data.title ? meta.data.title : '')
		meta(property="og:description" content=meta.data.description ? meta.data.description : '')
		meta(property="og:image" content=meta.data.image ? meta.data.image.url : '')

		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content=meta.data.title ? meta.data.title : '')
		meta(name="twitter:description" content=meta.data.description ? meta.data.description : '')
		meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')
			
	body
		div(id="cursor")
			svg(viewbox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M2.39364 11.8245L1 1L10.9699 5.35102L7.75381 7.89796L12.5 12.5L10 14.5L5.61554 9.47826L2.39364 11.8245Z' fill='#2CCE3E' stroke='#2CCE3E')


		div(id="logo" alt="ACTTA Studio Logo")
			svg#b(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 718.11 490.42')
				g#c
					path#pth(d='M537.34,90.44L127.26,202.83l7.41,27.06,187.9-51.5,46.57,169.93,33.7-9.24-46.58-169.93,188.49-51.66-7.42-27.06ZM260.26,222.97l-52.75,131.4,26.67,10.71,52.75-131.4-26.67-10.71ZM434.16,175.31l-17.48,22.81,112.37,86.14,17.48-22.81-112.37-86.14ZM537.34,90.44L127.26,202.83l7.41,27.06,187.9-51.5,46.57,169.93,33.7-9.24-46.58-169.93,188.49-51.66-7.42-27.06ZM260.26,222.97l-52.75,131.4,26.67,10.71,52.75-131.4-26.67-10.71ZM434.16,175.31l-17.48,22.81,112.37,86.14,17.48-22.81-112.37-86.14ZM275.73,490.41c-43.34,0-84.77-5.74-122.35-17.23-38.27-11.7-70.47-28.74-95.71-50.64-26.29-22.8-43.86-49.86-52.24-80.42s-7.05-62.8,3.94-95.81c10.55-31.71,29.57-62.78,56.52-92.35C121,93.47,203.21,45.94,297.37,20.14c94.16-25.81,189.12-26.84,267.37-2.9,38.27,11.7,70.47,28.74,95.71,50.64,26.28,22.8,43.86,49.85,52.23,80.41h0c8.38,30.56,7.05,62.8-3.93,95.81-10.55,31.71-29.57,62.78-56.52,92.36-55.13,60.49-137.34,108.02-231.48,133.82-48.94,13.42-98.1,20.14-145.02,20.14ZM442.39,21.98c-44.93,0-92.12,6.47-139.21,19.37-90.2,24.72-168.7,69.97-221.04,127.42-50.28,55.17-69.99,114.67-55.5,167.53,14.49,52.86,61.78,94,133.17,115.83,74.32,22.73,164.92,21.64,255.12-3.08,90.18-24.72,168.68-69.97,221.04-127.42,50.27-55.17,69.98-114.67,55.5-167.53h0c-14.49-52.86-61.78-94-133.17-115.83-35.52-10.87-74.77-16.29-115.91-16.29Z' style='fill:#2cce3e; stroke-width:0px;')

		//- include ./partials/preloader
		header(class="navigation") 
			include ./partials/header
		

		main.content#content(data-template=template)
			block content

		//- include ./partials/footer
		
		script(src="main.js")

